@media (orientation: portrait) {
	#wrapContainer {
		flex-direction: column;
		padding-left: 1rem;
		padding-right: 1rem;
		margin-left: 0.5rem;
		margin-right: 0.5rem;
	}

	.landscapeOnly {
		display: none;
	}

	.root-half {
		flex-grow: 0;
	}
}

@media (orientation: landscape) {
	#wrapContainer {
		flex-direction: row;
		padding-left: 3rem;
		padding-right: 3rem;
		margin-left: 3rem;
		margin-right: 3rem;
	}

	.portraitOnly {
		display: none;
	}

	.root-half {
		flex-grow: 1;
	}
}

#wrapContainer {
	max-width: 80rem;
}

.root-half {
	max-width: calc((80rem - 12rem) / 2);
}